@{
    Layout = @"~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ToDoist";
}
@using PL.Models
@using PL.Controllers
@model Folder

@section ToDoTasks{
    @foreach (var item in Model.Tasks)
    {
<div class="row bg-light p-3 h4">
    <div class="col ">@item.Header</div>
    <div class="col ">@item.Description</div>
    <div class="col ">@item.Date</div>
    <div class="col ">@item.Priority</div>
    <div class="col">
    <label for="@item.IsCompleted">Is completed</label>
    <input type="checkbox" id="@item.IsCompleted" />
    </div>
</div>
    }
}