@{
    ViewData["Title"] = "Edit ToDoTask";
}

@model ToDoTask

<div class="container-fluid">
    <div class="row p-3">
        <div class="col-sm">
            <form asp-action="Edit" asp-controller="ToDoTask">
                <div class="row p-3">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="Header" value="@Model.Header" />
                        <input hidden asp-for="Id" value="@Model.Id" />
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="Description" value="@Model.Description" />
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Date" name="Date" class="form-control" />
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-sm-2 form-check">
                        <input asp-for="IsCompleted" name="IsCompleted" class="form-check-input form-check-50" id="IsCompleted" />
                        <label class="form-check-label h4" for="IsCompleted">Is completed</label>
                    </div>
                    <div class="col-sm-5">
                        <select class="form-control" name="Priority" id="Priority">
                            @foreach (Priority priority in (Priority[])Enum.GetValues(typeof(Priority)))
                            {
                                @if (Model.Priority == priority)
                                {
                                    <option value="@((int)priority)" selected>@priority</option>

                                }
                                else
                                {
                                    <option value="@((int)priority)">@priority</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <select class="form-control" name="FolderId" id="Folder">
                            <option value=@null>None</option>
                            @foreach (Folder folder in ViewBag.Folders)
                            {
                                if (folder.Id == Model.FolderId)
                                {
                                    <option selected value="@folder.Id">@folder.Name</option>
                                }
                                else
                                {
                                    <option value="@folder.Id">@folder.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-sm">
                        <button type="submit" class="btn btn-light btn-lg">Edit task</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>